<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mp.medicinalplant.mapper.DiseaseMapper">

    <resultMap id="BaseResultMap" type="com.mp.medicinalplant.entity.pojo.Disease">
            <id property="diseaseid" column="diseaseId" jdbcType="BIGINT"/>
            <result property="plantname" column="plantName" jdbcType="VARCHAR"/>
            <result property="diseasename" column="diseaseName" jdbcType="VARCHAR"/>
            <result property="latinname" column="latinName" jdbcType="VARCHAR"/>
            <result property="diseasesite" column="diseaseSite" jdbcType="VARCHAR"/>
            <result property="diseasestate" column="diseaseState" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="diseasecause" column="diseaseCause" jdbcType="VARCHAR"/>
            <result property="occurrencerule" column="occurrenceRule" jdbcType="VARCHAR"/>
            <result property="controlmethod" column="controlMethod" jdbcType="VARCHAR"/>
            <result property="damagepictureurl" column="damagePictureUrl" jdbcType="VARCHAR"/>
            <result property="createtime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updatetime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isdelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        diseaseId,plantName,diseaseName,
        latinName,diseaseSite,diseaseState,
        description,diseaseCause,occurrenceRule,
        controlMethod,damagePictureUrl,createTime,
        updateTime,isDelete
    </sql>
</mapper>
