<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mp.medicinalplant.mapper.InsectMapper">

    <resultMap id="BaseResultMap" type="com.mp.medicinalplant.entity.pojo.Insect">
            <id property="insectid" column="insectId" jdbcType="INTEGER"/>
            <result property="insectname" column="insectName" jdbcType="VARCHAR"/>
            <result property="latinname" column="latinName" jdbcType="VARCHAR"/>
            <result property="anthornames" column="anthorNames" jdbcType="VARCHAR"/>
            <result property="familyclassification" column="familyClassification" jdbcType="VARCHAR"/>
            <result property="distribution" column="distribution" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="pictureurl" column="pictureUrl" jdbcType="VARCHAR"/>
            <result property="createtime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updatetime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isdelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        insectId,insectName,latinName,
        anthorNames,familyClassification,distribution,
        description,pictureUrl,createTime,
        updateTime,isDelete
    </sql>
</mapper>
