<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mp.medicinalplant.mapper.PesticideMapper">

    <resultMap id="BaseResultMap" type="com.mp.medicinalplant.entity.pojo.Pesticide">
            <id property="registrationcertificate" column="registrationCertificate" jdbcType="VARCHAR"/>
            <result property="pesticidename" column="pesticideName" jdbcType="VARCHAR"/>
            <result property="plantnames" column="plantNames" jdbcType="VARCHAR"/>
            <result property="pesticidetype" column="pesticideType" jdbcType="VARCHAR"/>
            <result property="target" column="target" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="createtime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updatetime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isdelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        registrationCertificate,pesticideName,plantNames,
        pesticideType,target,description,
        createTime,updateTime,isDelete
    </sql>
</mapper>
