<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mp.medicinalplant.mapper.PlantMapper">

    <resultMap id="BaseResultMap" type="com.mp.medicinalplant.entity.pojo.Plant">
            <id property="plantId" column="plantId" jdbcType="BIGINT"/>
            <result property="plantName" column="plantName" jdbcType="VARCHAR"/>
            <result property="latinName" column="latinName" jdbcType="VARCHAR"/>
            <result property="anotherName" column="anotherName" jdbcType="VARCHAR"/>
            <result property="familyClassification" column="familyClassification" jdbcType="VARCHAR"/>
            <result property="pictureUrl" column="pictureUrl" jdbcType="VARCHAR"/>
            <result property="medicinalParts" column="medicinalParts" jdbcType="VARCHAR"/>
            <result property="producer" column="producer" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        plantId,plantName,latinName,
        anotherName,familyClassification,pictureUrl,
        medicinalParts,producer,description,
        createTime,updateTime,isDelete
    </sql>
</mapper>
