<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mp.medicinalplant.mapper.PlantInsectMapper">

    <resultMap id="BaseResultMap" type="com.mp.medicinalplant.entity.pojo.PlantInsect">
            <id property="plantId" column="plantId" jdbcType="BIGINT"/>
            <id property="insectId" column="insectId" jdbcType="BIGINT"/>
            <result property="damagePart" column="damagePart" jdbcType="VARCHAR"/>
            <result property="damageSymptom" column="damageSymptom" jdbcType="VARCHAR"/>
            <result property="damagePeculiarity" column="damagePeculiarity" jdbcType="VARCHAR"/>
            <result property="occurrenceRule" column="occurrenceRule" jdbcType="VARCHAR"/>
            <result property="controlMethod" column="controlMethod" jdbcType="VARCHAR"/>
            <result property="damagePictureUrl" column="damagePictureUrl" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        plantId,insectId,damagePart,
        damageSymptom,damagePeculiarity,occurrenceRule,
        controlMethod,damagePictureUrl,createTime,
        updateTime,isDelete
    </sql>

    <select id="queryPlantInsectList" resultType="com.mp.medicinalplant.entity.bo.PlantInsectBO">
        select plantinsect.plantId plantId,plantName,plantinsect.insectId insectId,insectName, insect.latinName latinName,insect.anthorNames anthorNames,insect.familyClassification familyClassification,insect.distribution distribution,insect.description description,insect.pictureUrl pictureUrl,damagePart,damageSymptom,damagePeculiarity,occurrenceRule,controlMethod,damagePictureUrl,plantinsect.createTime createTime,plantinsect.updateTime updateTime,plantinsect.isDelete isDelete
        from plant join plantinsect on (plant.plantId = plantinsect.plantId)
                   JOIN insect ON (insect.insectId = plantinsect.insectId)
        where insect.insectName like "%" #{value} "%" or insect.latinName like "%" #{value} "%" or  insect.anthorNames like "%" #{value} "%"
    </select>

</mapper>
