<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mp.medicinalplant.mapper.QuestionMapper">

    <resultMap id="BaseResultMap" type="com.mp.medicinalplant.entity.pojo.Question">
            <id property="questionId" column="questionId" jdbcType="BIGINT"/>
            <result property="questionTitle" column="questionTitle" jdbcType="VARCHAR"/>
            <result property="questionValue" column="questionValue" jdbcType="VARCHAR"/>
            <result property="questionType" column="QuestionType" jdbcType="VARCHAR"/>
            <result property="userId" column="UserId" jdbcType="BIGINT"/>
            <result property="examine" column="examine" jdbcType="TINYINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        questionId,questionTitle,questionValue,
        QuestionType,UserId,examine,
        createTime,updateTime,isDelete
    </sql>
</mapper>
