<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mp.medicinalplant.mapper.QuestiontypeMapper">

    <resultMap id="BaseResultMap" type="com.mp.medicinalplant.entity.pojo.Questiontype">
            <id property="questiontypeid" column="questionTypeId" jdbcType="BIGINT"/>
            <result property="questiontypename" column="questionTypeName" jdbcType="VARCHAR"/>
            <result property="createtime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updatetime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isdelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        questionTypeId,questionTypeName,createTime,
        updateTime,isDelete
    </sql>
</mapper>
