<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mp.medicinalplant.mapper.ReviewMapper">

    <resultMap id="BaseResultMap" type="com.mp.medicinalplant.entity.pojo.Review">
            <id property="reviewId" column="reviewId" jdbcType="BIGINT"/>
            <result property="userId" column="UserId" jdbcType="BIGINT"/>
            <result property="reviewType" column="reviewType" jdbcType="TINYINT"/>
            <result property="reviewValue" column="reviewValue" jdbcType="VARCHAR"/>
            <result property="examine" column="examine" jdbcType="TINYINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        reviewId,UserId,reviewType,
        reviewValue,examine,createTime,
        updateTime,isDelete
    </sql>
</mapper>
